body {
    background-color: rgb(226, 226, 226);
}
.blog {
    margin: 3rem auto;
    width: 70vw;
    text-align: center;
    color: rgb(204, 29, 181);

}

.posts {
    text-align: left !important;
    color: black;
    margin: 3rem 0;
}

.posts .post {
    box-shadow: -1px 4px 26px -6px rgba(0,0,0,0.75);

   padding: 1rem;
   border-radius: .5rem;
   margin-bottom:1rem;
   background-color: white;
   transition: all 500ms;
}
.posts .post:hover {
    box-shadow: none;
}